/* Animate link to the Message from director */
@keyframes blink {
    0% {color: blue;}
    25% {color: red;}
    50% {color: blueviolet}
    75% {color: purple;}
    100% {color: lightblue;}
}
@-webkit-keyframes blink {
    0% {color: blue;}
    25% {color: red;}
    50% {color: blueviolet}
    75% {color: purple;}
    100% {color: lightblue;}
}
/* Style link to Message from director */
#d-msg {
    color: blue;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: blink;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 0.7s;
}
