{% extends 'mainsite.html' %}
{% load static %}
{% block extra-style %}
<link rel="stylesheet" type="text/css" href="{% static 'mainsite/aboutus_styles.css' %}">
{% endblock extra-style %}
{% block title %}Arise and  Shine | About us{% endblock %}
{% block seo %}
<meta name="description"
 content="The establishment of C.B.O was conceived after a series of studios about needs of of women and youth was conducted">
{% endblock %}
{% block body-content %}
    <div class="row w3-section">
        <div class="col-sm-2">
            <!--<ul class="sidebar-nav w3-dark-grey fixed-left" data-spy="affix" data-offset-top="205">
                <li><a href="#story">About us</a></li>
                <li><a href="#mission">Mission</a></li>
                <li><a href="#vision">Vision</a></li>
                <li><a href="#objectives">Objectives</a></li>
                <li><a href="#values">Core Values</a></li>
            </ul>-->
        </div>
        {% if profile %}
		<div class="col-sm-8" data-spy="scroll" data-target=".sidebar-nav" data-offset="50">
		    <div class="jumbotron w3-card-4 show-on-scroll" id="story">
		        <h2 class="alert alert-info w3-center"><strong>About us</strong></h2>
		        <div>
		        	<img src="{% static 'mainsite/images/ascc_office_1.jpg' %}" alt="Arise and Shine Office photo" class="w3-round">
		        	<p class="font-weight-bold">{{ profile.about }}</p>
		    	</div>
		    </div>
		    <div class="jumbotron w3-card-4 show-on-scroll" id="mission">
		        <h2 class="alert alert-info w3-center"><strong>Mission</strong></h2>
		        <p class="font-weight-bold">{{ profile.mission }}</p>
		    </div>
		    <div class="jumbotron w3-card-4 show-on-scroll" id="vision">
		        <h2 class="alert alert-info w3-center"><strong>Vision</strong></h2>
		        <p class="font-weight-bold">{{ profile.vision }}</p>
		    </div>
		    <div class="jumbotron w3-card-4 show-on-scroll" id="objectives">
		        <h2 class="alert alert-info w3-center"><strong>Objectives</strong></h2>
		        <ol>
		        {% for object in profile.objective_set.all %}
		            <li class="text-center font-weight-bold w3-border w3-padding-8">{{ object.objective }}</li>
		        {% empty %}
		            <p class="text-warning">No objectives added</p>
		        {% endfor %}
		        </ol>
		    </div>
	    
            <div class="jumbotron w3-card-4 show-on-scroll" id="values">
                <h2 class="alert alert-info w3-center"><strong>Core Values</strong></h2>
                <ul>
                    {% for val in profile.value_set.all %}
                        <li class="w3-center font-weight-bold w3-border w3-padding">{{ val.core_value }}</li>
                    {% empty %}
                        <p class="text-warning">No values added</p>
                    {% endfor %} 
                </ul>
            </div>
        </div>
        {% endif %}
        <div class="col-sm-2">
            <p class="text-info"><a href="{% url 'mainsite:team' %}">Our Team &rarr;</a></p>
            <p class="text-info"><a href="{% url 'mainsite:director_message' %}">Message from the direcor &rarr;</a></p>
        </div>
    </div>
    <script type="text/javascript">
    	//scroll
        /*
        loop();
        
        const callback = function (entries) {
                entries.forEach(entry => {
                    entry.target.classList.toggle("w3-animate-right");
                });
            };

            const observer = new IntersectionObserver(callback);
            const targets = document.querySelectorAll(".show-on-scroll");

            targets.forEach(function (target) {
                observer.observe(target);
            });
        */
    </script>
{% endblock body-content %}
