{% extends 'mainsite.html' %}
{% block title %}Arise and Shine | Contact us{% endblock %}
{% load static %}
{% load widget_tweaks %}
{% block body-content %}
	<div class="container">
		<p>
			Gives a call or WhatsApp us on 
			<a href="https://api.whatsapp.com/send?phone={{ contact.whatsapp}}" target="_blank">{{ contact.phone }}</a> 
		</p>
		<p>
			Like and Follow our social media pages
			<br>
			<a href="{{ contact.facebook }}" target="_blank" class="">
				<span class="fab fa-facebook fa-lg"></span>
			</a>&nbsp;
			<a href="{{ contact.twitter }}" target="_blank" class="">
				<span class="fab fa-twitter-square fa-lg"></span>
			</a>
			
		</p>
		<p>
			Email us {{ contact.email | urlize }}
	    </p>
		<p class="text-black-50"> OR </p>
		<h2 class="w3-text-light-blue">Leave us a message</h2>
		 
		<form class="jumbotron" method="post" action="{% url 'mainsite:message' %}" role="form"> 
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-success alert-dismissible fade show">
						<button type="button" class="close" data-dismiss="alert">&times;</button>
						<p class="alert alert-success">Message sent!</p>
						<p {% if message.tags %} class="{{ message.tags }} text-success" {% endif %}>
							{{ message }}
						</p>
					</div>
				{% endfor %}
			{% endif %}
			
			{% csrf_token %}
			{% for field in form %}
				<div class="form-group">
				{{ field.label_tag }}

					{% if form.is_bound %}
						{% if field.errors %}

						{% render_field field class="form-control is-invalid" %}
						{% for error in field.errors %}
							<div class="invalid-feedback">
							{{ error }}
							</div>
						{% endfor %}

						{% else %}
						{% render_field field class="form-control is-valid" %}
						{% endif %}
					{% else %}
						{% render_field field class="form-control" %}
					{% endif %}

					{% if field.help_text %}
						<small class="form-text text-muted">
						{{ field.help_text }}
						</small>
					{% endif %}
				</div>
		{% endfor %}
			
			<input type="submit" value="Send" class="w3-right btn btn-outline-success" title="Submit your message">
		</form>
		
	</div>
{% endblock body-content %}
