{% extends 'mainsite.html' %}
{% block title %}Arise and Shine | Director message {% endblock %}
{% block body-content %}
<div class="container">
    <article class="jumbotron w3-section" style="max-width: 600px">
        <p><strong>Message from the Director</strong></p> 
        <p>I take this opportunity to welcome you to our website. </p>
        <p>We as an organization are committed to ensuring that we economically empower youth and women for prosperity.
        We believe that everybody has a role to play towards transforming our communities and the world. 
        We live in a country with majority of youth and women and this is also the marginalized group in many of our societies. 
        It is that women and youth are at the centre of community transformation and that is why at Arise and Shine Care Centre
        we value women and youth participation. </p>
        <p>By people coming together, we believe that great things can happen and the community can move forward 
        as stated in our slogan – <b>Unity is Prosperity!</b> At Arise and Shine Care Centre we value collaboration, 
        sharing of ideas, volunteerism and integrity. We call upon you to support our cause and help us transform 
        the lives of our people. </p>
        <p>I appeal to you to join us in supporting our activities for a prosperous community and for a freer society. 
        And this cannot be achieved unless the women and youth are emancipated from all forms of oppression as stated 
        by the late <em>Nelson Mandela</em>. </p> 
        <p>Thank you!</p>
    </article>
</div>
{% endblock %}