{% extends 'mainsite.html' %}
{% block title %}Arise and Shine | Donate{% endblock %}
{% block body-content %}
	<div class="w3-section container">

		<section class="jumbotron"> 
			<p class="text-info"> 
				Donation of all sizes go a long way to support our grass-root projects
			</p>
			<p class="narration">
			Donate to our projects; 
				<table class="table table-sm table-borderless">
					<tr>
						<td class="w3-center">
							Account Name:
						</td>
						<td><b>Arise and Shine Care Center.</b></td>
					</tr>
					<tr>
						<td class="w3-center">Bank Name: </td>
						<td> <b>Kenya Commercial Bank.</b></td>
					</tr>
					<tr>
						<td class="w3-center">Bank Branch:</td>
						<td><b>Kisumu.</b></td>
					</tr>
					<tr>
						<td class="w3-center">Account No:</td>
						<td><b>1131706447</b></td>
					</tr>
					<tr>
						<td class="w3-center">Swift code:</td>
						<td><b>KCBLKENX077</b></td>
					</tr>
					<tr>
						<td class="w3-center">Bank Code:</td>
						<td><b>077</b></td>
					</tr>
				</table>
				
				    
					 
				 	
					
				 	
			</p>
    		<p>	Or write to us at 
				<span class="text-primary underline">{{ contact.email | urlize }}</span> 
			</p>
		</section>
	</div>
{% endblock body-content %}