{% extends 'mainsite.html' %}
{% block title %}Arise and Shine | Donate{% endblock %}
{% block body-content %}
	<div class="w3-section container">

		<section class="jumbotron"> 
			<p class="text-info"> 
				Donation of all sizes go a long way to support our grass-root projects
			</p>
			<p class="narration">
			Donate to our projects; 

				Account Name: <b>Arise and Shine Care Center.</b>
				Bank:         <b>Kenya Commercial Bank, Kisumu Branch.</b>
				Account No: <b>1131706447</b>
				Swift code:
				Bank Code: 
			</p>
    		<p>	Or write to us at 
				<span class="text-primary" style="text-decoration: underline;">{{ contact.email | urlize }}</span> 
			</p>
		</section>
	</div>
{% endblock body-content %}