{% extends 'mainsite.html' %}
{% block title %}Arise and Shine | Latest {% endblock %}
{% block body-content %}
    <div class="container">
        <section class="w3-section jumbotron">
            {% for event_item in item_list %}
                <div class="media border p-3">
                    {% for media in event_item.media.all %}
                        <img src="{{ media.picture.url }}" alt="">
                    {% endfor %}
                    <div class="media-body">
                        <p class="alert alert-link">{{ event_item.headline }}</p>
                        <p class="narration">{{ event_item.content }}</p>
                        <p>{{ event_item.external | urlize }}</p>
                    </div>
                </div>
            {% empty %}
                <p class="alert alert-warning">There are currently no news</p>
            {% endfor %}
        </section>
    </div>
{% endblock %}