{% extends 'mainsite.html' %}
{% load static %}
{% block title %}
 Arise and Shine |   
 {% for project in project_list %} 
    {% if forloop.first %} {{ project.get_thematic_area_display  }} Projects {% endif %}
 {% endfor %} 
{% endblock %}
{% block body-content %}
    <ul class="breadcrumb">
            <li>
                <a href="{% url 'mainsite:proj_and_prog' %}">Projects</a> &#9755; 
            </li>
            <li class="breadcrumb-item active">
                <a href="{{ request.path }}">
                    {% for project in project_list %} 
                        {% if forloop.first %} {{ project.get_thematic_area_display  }} {% endif %}
                    {% endfor %} 
                </a>
            </li>
        </ul>
    <div class="container w3-section">
        {% if project_list %}
            
            {% for project in project_list  %}
            <div class="jumbotron">
                <!--project name-->
                <p class="alert alert-link">
                    <a href="{{ project.get_absolute_url }} ">{{ project.project_name }}</a>
                </p>
                <div class="media border p-3 project-list">
                    
                    {% for media in project.media.all %}
                        {% if forloop.last %}
                            <img src="{{ media.picture.url }} " alt="Picture" class="mr-3 mt-3 w3-round">
                        {% endif %}
                    {% endfor %}
                    
                    <div class="media-body">
                        <p class="">
                            {{ project.project_description | truncatewords:30 }}
                            <a href="{{ project.get_absolute_url }}" class="btn btn-link w3-hover-light-blue">Read More</a>
                        </p>
                    </div>
                  </div>
            </div>
            {% empty %}
                <p class="alert alert-warning text-muted">
                    No projects found in this category
                </p>
            {% endfor %}
        {% else %}
            <p class="alert alert-danger">No data found here</p>
        {% endif %}
        
    </div>
{% endblock %}