{% extends 'mainsite.html' %}
{% load static %}
{% block title %} Arise and Shine | Team{% endblock %}
{% block extra-style %}
<link rel="stylesheet" href="{% static 'mainsite/aboutus_styles.css' %}">
{% endblock %}
{% block body-content %}
    <div class="jumbotron w3-section container" id="team">

        <div class="">
            <h2 class="alert alert-info w3-center">Our Management Team </h2>
            <div class="w3-center">
                
                <p class="alert w3-center" style="max-width:400px;">
                    Our management team is comprised of competent staffs
                    with extensive knowledge in management and community engagement.
                </p>
            </div>
            
            
            
        </div>
    </div>
{% endblock body-content %}