{% extends 'mainsite.html' %}

{% load static %}
{% block title %}Volunteer with us {% endblock %}
{% block body-content %}
    <div class="container w3-section jumbotron">
        <p class="text-info">Are you interested in volunteering with our organization?</p>
        <p class="narration">
            Please write to us with more information about yourself, your
            availability and what you hope to contribute to our work.
        </p>
        <p>Email: 
            <span class="text-primary underline">{{ contact.email | urlize }}</span> 
        </p>
    </div>
{% endblock %}